<script>
	import { onMount } from 'svelte';
	import { goto } from '$app/navigation';
	export let edit, sign, e;
	let message = '';
	let messageInput;
	let response, ctrl;
	let err = '';
	onMount(() => {
		messageInput.focus();
	});

	async function saveMessage() {
		console.log(process.env.API_URL);
		await fetch('http://localhost:5003/', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({ message: message })
		})
			.then((response) => {
				if (response.ok) {
					return response.json();
				} else {
					throw new Error('Something went wrong');
				}
			})

			.then((res) => {
				response = res;
				setTimeout(() => (response = ''), 2000);
				goto(response.sign.slug);
			})
			.catch((error) => {
				err = error;
				setTimeout(() => (err = ''), 3000);
			});
	}

	function handleKeydown(event) {
		switch (event.keyCode) {
			case 17:
				ctrl = true;
				break;
			case 13:
				if (ctrl) {
					saveMessage();
					ctrl = false;
					return;
				}

			default:
		}
	}
</script>

<svelte:window on:keydown={handleKeydown} />

<div class="p-3 grid grid-cols-1 gap-5 rounded-lg bg-black w-full h-full  border-10 border-col">
	<div class="flex justify-between items-center">
		<div class="mx-5 flex-shrink-0 rounded-lg w-24 h-32 bg-col" />
		<div class=" w-9/12 text-2xl lg:text-5xl {e ? 'text-center text-red-500' : 'text-yellow-400'}">
			{#if edit}
				<textarea
					class="resize-none w-full h-full bg-transparent"
					bind:this={messageInput}
					bind:value={message}
					rows="3"
					placeholder="create your custom led message"
				/>
			{:else if e}
				<p class=" w-9/12 text-2xl lg:text-5xl text-red-400">{e}</p>
			{:else}
				{sign.message}
			{/if}
		</div>
	</div>

	<div class="flex justify-between items-center">
		<a href="/">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				fill="currentColor"
				class=" rounded-lg p-1 h-8 w-8 text-yellow-400 hover:bg-yellow-400 hover:text-black"
				viewBox="0 0 16 16"
			>
				<path
					fill-rule="evenodd"
					d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
				/>
				<path
					fill-rule="evenodd"
					d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
				/>
			</svg>
		</a>
		{#if edit}
			{#if response}
				<p class="text1 text-yellow-400">
					successfully created sign <a
						class="hover:bg-yellow-400 hover:text-black p-1 underline"
						href="/{response.sign.slug}">{response.sign.slug}</a
					>
				</p>
			{/if}
			{#if err != ''}
				<p class="text1 text-red-400">an error occurred :(</p>
			{/if}
			<button
				on:click={saveMessage}
				class=" p-1 disabled:opacity-50  rounded-lg bg-green-600 active:bg-green-700  text-white"
				disabled={message.length < 1}
				>save
			</button>
		{:else}
			<div class="grid grid-cols-3 gap-1">
				<a
					href="https://telegram.me/share/url?text=&url=https://signs.rcastellotti.dev/{sign.slug}"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						class="telegram rounded-lg p-1 h-8 w-8 text-yellow-400 hover:bg-yellow-400 hover:text-black"
						viewBox="0 0 16 16"
					>
						<path
							d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.287 5.906c-.778.324-2.334.994-4.666 2.01-.378.15-.577.298-.595.442-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294.26.006.549-.1.868-.32 2.179-1.471 3.304-2.214 3.374-2.23.05-.012.12-.026.166.016.047.041.042.12.037.141-.03.129-1.227 1.241-1.846 1.817-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088.327.216.589.393.85.571.284.194.568.387.936.629.093.06.183.125.27.187.331.236.63.448.997.414.214-.02.435-.22.547-.82.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315.337.337 0 0 0-.114-.217.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09z"
						/>
					</svg>
				</a>
				<a href="whatsapp://send?text=%20https://signs.rcastellotti.dev/{sign.slug}">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						class="whatsapp rounded-lg p-1 h-8 w-8 text-yellow-400 hover:bg-yellow-400 hover:text-black"
						viewBox="0 0 16 16"
					>
						<path
							d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"
						/>
					</svg>
				</a>
				<a
					href="https://twitter.com/intent/tweet/?text=&url=https://signs.rcastellotti.dev/{sign.slug}"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						class="twitter rounded-lg p-1 h-8 w-8 text-yellow-400 hover:bg-yellow-400 hover:text-black"
						viewBox="0 0 16 16"
					>
						<path
							d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
						/>
					</svg>
				</a>
			</div>
		{/if}
	</div>
</div>
